## Trabajo Grupal 6

### Grupo 1

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt
import numpy as np

In [6]:
pesos = pd.read_stata(r"../../data/Pesos/peso.dta")
pesos

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.300003,109.0,12.0,12.0,1.0,1.0,1.0,0.0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.300003,133.0,6.0,12.0,2.0,1.0,0.0,0.0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.300003,129.0,NaN,12.0,2.0,0.0,0.0,0.0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.300003,126.0,12.0,12.0,2.0,1.0,0.0,0.0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.300003,134.0,14.0,12.0,2.0,1.0,1.0,0.0,4.897840,8.3750,0.0,3.314186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,27.5,30.0,138.300003,110.0,12.0,12.0,4.0,1.0,1.0,0.0,4.700480,6.8750,0.0,3.314186
1384,5.5,30.0,138.300003,146.0,NaN,16.0,2.0,1.0,1.0,0.0,4.983607,9.1250,0.0,1.704748
1385,65.0,8.0,118.599998,135.0,18.0,16.0,2.0,0.0,1.0,0.0,4.905275,8.4375,0.0,4.174387
1386,27.5,8.0,118.599998,118.0,NaN,14.0,2.0,0.0,1.0,0.0,4.770685,7.3750,0.0,3.314186
1387,37.5,8.0,118.599998,111.0,16.0,13.0,2.0,0.0,1.0,0.0,4.709530,6.9375,0.0,3.624341