### Trabajo grupal 5: Grupo 1

In [19]:
import pandas as pd
import numpy as np
import re

In [20]:
#Data ENAHO PANEL 2015-2019
d1 = pd.read_stata("../data/Juntos_program/data.dta")
#Data Programa Juntos
d2 = pd.read_stata("../data/Juntos_program/unidos.dta")

In [21]:
filter_list = []
filter_list1 = []

for i in range(0,len(list(d1.columns))):

        z =  re.sub('[\_]','', list(d1.columns)[i])
        filter_list.append(z)

for i in range(0,len(list(filter_list))):

        z =  re.sub(".{2}$",'', list(filter_list)[i])
        filter_list1.append(z)

In [22]:
nuevo = list(dict.fromkeys(filter_list1))
nuevo

['nump', 'numpanh', 'mes', 'ubigeo', 'dominio', 'p400a3', 'p4022']

##### Datos tipo panel

In [23]:
dat_panel = pd.wide_to_long(d1, stubnames = nuevo, i = ['numper'] , j = 'year' , sep = '_').reset_index()

In [24]:
nuevo[0] = d1.columns[0]
nuevo[1] = d1.columns[1]
nuevo.append("year")
dato_panel = dat_panel[nuevo]
dato_panel = dato_panel.rename(columns={'numpanh15': 'numpanh'})
dato_panel

       numper  numpanh  mes  ubigeo       dominio  p400a3  p4022  year
0       15368     1158   11   10101  sierra norte  1946.0    0.0    15
1       15369     1158   11   10101  sierra norte  1973.0    0.0    15
2       15380     1162   11   10101  sierra norte  1987.0    1.0    15
3       15381     1162   11   10101  sierra norte  2009.0    1.0    15
4       15410     1185    7   10101  sierra norte  1955.0    0.0    15
...       ...      ...  ...     ...           ...     ...    ...   ...
27725   34848    18549   10  250101         selva  2002.0    1.0    19
27726   34846    18549   10  250101         selva  1985.0    0.0    19
27727   34847    18549   10  250101         selva  1976.0    1.0    19
27728   34849    18549   10  250101         selva  2007.0    1.0    19
27729   34850    18549   10  250101         selva  2011.0    0.0    19

[27730 rows x 8 columns]

In [25]:
total = pd.merge(dato_panel,d2,on='ubigeo')
total

,numper,numpanh,mes,ubigeo,dominio,p400a3,p4022,year,distrito,provincia,region,unidos
0,15368,1158,11,10101,sierra norte,1946.0,0.0,15,Chachapoyas,Chachapoyas,Amazonas,1
1,15369,1158,11,10101,sierra norte,1973.0,0.0,15,Chachapoyas,Chachapoyas,Amazonas,1
2,15380,1162,11,10101,sierra norte,1987.0,1.0,15,Chachapoyas,Chachapoyas,Amazonas,1
3,15381,1162,11,10101,sierra norte,2009.0,1.0,15,Chachapoyas,Chachapoyas,Amazonas,1
4,15410,1185,7,10101,sierra norte,1955.0,0.0,15,Chachapoyas,Chachapoyas,Amazonas,1
...,...,...,...,...,...,...,...,...,...,...,...,...
27725,34777,18472,7,220301,selva,1942.0,0.0,19,San Jose de Sisa,El Dorado,San Martin,0
27726,34779,18473,7,220301,selva,1988.0,0.0,19,San Jose de Sisa,El Dorado,San Martin,0
27727,34781,18473,7,220301,selva,2015.0,0.0,19,San Jose de Sisa,El Dorado,San Martin,0
27728,34778,18473,7,220301,selva,1984.0,1.0,19,San Jose de Sisa,El Dorado,San Martin,0
27729,34780,18473,7,220301,selva,2010.0,0.0,19,San Jose de Sisa,El Dorado,San Martin,0