## Homework 2 - Python

## 1. If statement

In [1]:
notas= read.csv("../../../data/notas.csv")  # relative path

In [2]:
notas

   ï..alumnos notas carrera
1  DIEGO      10    a001
2  GABRIEL     4    a001
3  ANDRE       7    a001
4  ANDRES     16    a002
5  FERNANDO   16    a003
6  MILAGROS   19    a002
7  OSCAR       9    a001
8  RODRIGO     1    a003
9  ALEJANDRO   7    a001
10 LORENZO    21    a001
11 ELIANE     18    a001
12 ALDAIR     15    a002
13 LUIS        0    a004
14 JAVIER     12    a001
15 ALONSO     17    a002
16 MARCO      18    a001
17 SEBASTIAN  15    a004
18 LUZCIA      0    a001
19 NAYEL      18    a004
20 JOAQUIN     4    a002
21 ILIZARBE    6    a001
22 VIVIANA    18    a004
23 LUIS       10    a004
24 ROCIO      13    a002
25 LEIDY      21    a001
26 MELISSA    16    a002
27 FERNANDO   15    a001
28 MARTIN     21    a001
29 DANIELA    17    a003
30 GONZALO     7    a001
31 SOFIA       6    a003
32 ANGEL      10    a004
33 CAMILA      1    a001
34 ROSA        3    a001
35 MARCELO    21    a002
36 JOSUE      16    a001
37 RUBEN      19    a002
38 HUGO       13    a003

In [3]:


i <- 1


nrows <- dim(notas)[1]


for (i in 1:nrows){
    
    if (notas$notas[i] >= 11){
        notas$Estado[i] = "Ingresante"
        
    } else {
        notas$Estado[i] = "No ingresó"
    }
       
    
    if (notas$carrera[i] == "a001"){
        
        notas$Nombre_carrera[i] = "Economía"
        
    } else if (notas$carrera[i] == "a002"){

            notas$Nombre_carrera[i] = "Química"
    } else {
        
        notas$Nombre_carrera[i] = "Filosofia"
        
    }
 
    i <- i + 1 

    
}

In [4]:
notas

   ï..alumnos notas carrera Estado     Nombre_carrera
1  DIEGO      10    a001    No ingresó Economía
2  GABRIEL     4    a001    No ingresó Economía
3  ANDRE       7    a001    No ingresó Economía
4  ANDRES     16    a002    Ingresante Química
5  FERNANDO   16    a003    Ingresante Filosofia
6  MILAGROS   19    a002    Ingresante Química
7  OSCAR       9    a001    No ingresó Economía
8  RODRIGO     1    a003    No ingresó Filosofia
9  ALEJANDRO   7    a001    No ingresó Economía
10 LORENZO    21    a001    Ingresante Economía
11 ELIANE     18    a001    Ingresante Economía
12 ALDAIR     15    a002    Ingresante Química
13 LUIS        0    a004    No ingresó Filosofia
14 JAVIER     12    a001    Ingresante Economía
15 ALONSO     17    a002    Ingresante Química
16 MARCO      18    a001    Ingresante Economía
17 SEBASTIAN  15    a004    Ingresante Filosofia
18 LUZCIA      0    a001    No ingresó Economía
19 NAYEL      18    a004    Ingresante Filosofia
20 JOAQUIN     4    a002    No ingresó Química
21 ILIZARBE    6    a001    No ingresó Economía
22 VIVIANA    18    a004    Ingresante Filosofia
23 LUIS       10    a004    No ingresó Filosofia
24 ROCIO      13    a002    Ingresante Química
25 LEIDY      21    a001    Ingresante Economía
26 MELISSA    16    a002    Ingresante Química
27 FERNANDO   15    a001    Ingresante Economía
28 MARTIN     21    a001    Ingresante Economía
29 DANIELA    17    a003    Ingresante Filosofia
30 GONZALO     7    a001    No ingresó Economía
31 SOFIA       6    a003    No ingresó Filosofia
32 ANGEL      10    a004    No ingresó Filosofia
33 CAMILA      1    a001    No ingresó Economía
34 ROSA        3    a001    No ingresó Economía
35 MARCELO    21    a002    Ingresante Química
36 JOSUE      16    a001    Ingresante Economía
37 RUBEN      19    a002    Ingresante Química
38 HUGO       13    a003    Ingresante Filosofia

In [19]:
i <- 1

while (i<nrows){
    
    if (notas$Estado[i] == "Ingresante" && notas$Nombre_carrera[i] == "Química"){
        print(as.character(notas[,1][i]))
    }
    
    i <- i +1
}

[1] "ANDRES"
[1] "MILAGROS"
[1] "ALDAIR"
[1] "ALONSO"
[1] "ROCIO"
[1] "MELISSA"
[1] "MARCELO"
[1] "RUBEN"

In [20]:
class(notas[,1][i])

[1] "factor"